.page-title p {
    font-size: 40px;
    font-weight: bold;
}

.current-price-list {
    margin-bottom: 15px;
    font-size: 18px;
}

.submit-button {
    margin-top: 10px;
}

.submit-button input {
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #1b95e0;
    font-size: 16px;
}

.error {
    font-size: 16px;
    font-weight: bold;
    color: #B42222;
}

.success {
    font-size: 16px;
    font-weight: bold;
    color: green;
}