.footer-top {
    padding: 0 15px;
    background-image: url("../img/IMG_8071.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

.footer-flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-top__column {
    max-width: 300px;
}

.footer-top__column p {
    margin: 8px 0;
}

.footer-top__column.footer-banner {
    max-width: 400px;
    width: 350px;
}

.footer-top p
{
    color: #ffffff;
    font-size: 14px;
}

.footer-to__banner {
    width: 170px;
    height: 150px;
}

.footer-to__banner img {
    width: 100%;
}

.column-title {
    margin-top: 8px;
    margin-bottom: 1.5em;
    color: #e5322c;
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.column-title.phone::before {
    display: inline-block;
    margin-right: 15px;
    content: '';
    background-image: url("../img/phone.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.column-title.address::before {
    display: inline-block;
    margin-right: 15px;
    content: '';
    background-image: url("../img/address.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 22px;
    vertical-align: bottom;
}

.column-title.email::before {
    display: inline-block;
    margin-right: 15px;
    content: '';
    background-image: url("../img/mail.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 15px;
}

.footer-bottom {
    padding: 0 15px;
    background-color: #091b27;
}

.footer-bottom .footer-container {
    padding: 20px 0;
}

ul.footer-flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    list-style-type: none;
}

li.footer-menu__item {
    max-width: 300px;
    margin-bottom: 10px;
}

li.footer-menu__item.footer-bottom__company {
    max-width: 250px;
}

.footer-bottom__who {
    margin-top: 0;
    margin-bottom: 1.1em;
    color: #7f8d95;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-bottom__what-we-do {
    margin-top: 0;
    color: #616e76;
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 300;
}

.footer-bottom__what-we-do b {
    font-family: "Roboto - Bold", serif;
    font-weight: 700;
}

.footer-menu__item a {
    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.footer-menu__item a:hover {
    color: #3c73a9;
}

.footer-menu__sub-list {
    margin: 1.1em 0 0 0;
    list-style-type: none;
    line-height: 1;
}

.footer-menu__sub-item a {
    color: #616e76;
    font-family: "Roboto - Thin", serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
}

.footer-menu__sub-item a:hover {
    color: #3c73a9;
}

.footer-social {
    position: absolute;
    right: 0;
    bottom: 50px;
}

.footer-social .social-icons__item {
    margin-left: 30px;
}

.footer-designed {
    padding: 15px;
    background-color: #071621;
    text-align: center;
}

.footer-designed p {
    margin: 0;
    color: #616e76;
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 300;
}

.footer-bottom .current-location {
    position: relative;
    color: #3c73a9;
}

/*.footer-menu__item > .current-location::before,*/
/*.footer-menu__item .footer-bottom__who > .current-location::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    display: block;*/
/*    width: 70%;*/
/*    height: 100%;*/
/*    border-top: 2px solid #3c73a9;*/
/*    color: #3c73a9;*/
/*}*/

/*.footer-menu__item > .current-location::after,*/
/*.footer-menu__item .footer-bottom__who > .current-location::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    right: 50%;*/
/*    display: block;*/
/*    width: 70%;*/
/*    height: 100%;*/
/*    border-top: 2px solid #3c73a9;*/
/*    color: #3c73a9;*/
/*}*/

@media screen and (max-width: 1200px) {
    .footer-top__column.footer-banner {
        max-width: 400px;
        width: 200px;
    }

    .footer-social {
        bottom: 0;
    }
}

@media screen and (max-width: 572px) {
    .footer-container.footer-flex-container {
        display: block;
    }

    .footer-top__column {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 25px;
    }

    .column-title {
        margin-bottom: 1em;
    }
}
