#masthead {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.social-icons {
    text-align: right;
}

.social-icons__item {
    display: inline-block;
    margin-left: 20px;
    width: 15px;
}

.site-brand {
    float: left;
}

.site-brand img {
    width: 178px;
}

.main-navigation ul li.little_font_size_menu > a {
    font-size: 11px;
}

.main-navigation {
    float: right;
    position: relative;
}

.menu-toggle {
    display: none;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 56px;
    color: #ffffff;
    font-family: "Roboto", serif;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.main-navigation ul li {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    list-style-type: none;
    vertical-align: top;
}

.main-navigation ul li:nth-child(2) {
    position: relative;
}

.main-navigation ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 56px;
    color: #ffffff;
    font-family: "Roboto", serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.main-navigation ul li a:hover {
    color: #3c73a9;
}

.main-navigation .menu > li > a {
    display: flex;
    align-items: center;
    max-width: 150px;
    min-height: 56px;
    text-align: left;
    line-height: inherit;
}

.main-navigation .sub-menu {
    position: absolute;
    display: none;
    padding-left: 15px;
    width: 240px;
    margin: 0;
    background-color: rgba(89, 93, 97, 0.6);
    z-index: 10;
}

.main-navigation .sub-menu.visible {
    display: block;
}

.main-navigation .sub-menu li {
    display: block;
    margin-left: 0;
}

.main-navigation .sub-menu li a {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Roboto", serif;
    font-weight: 400;
}

.main-navigation .menu-item:not(.home) .current-location {
    position: relative;
    color: #3c73a9;
    z-index: 2;
}

#primary-menu > .menu-item:not(.home) > .current-location::before {
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 30%;
    display: block;
    width: 70%;
    height: 100%;
    border-top: 2px solid #3c73a9;
    color: #3c73a9;
}

#primary-menu > .menu-item:not(.home) > .current-location::after {
    content: '';
    position: absolute;
    top: 3.1rem;
    right: 50%;
    display: block;
    width: 70%;
    height: 100%;
    border-top: 2px solid #3c73a9;
    color: #3c73a9;
}

#primary-menu > .menu-item-home:not(.current-menu-parent) > a {
    color: #ffffff;
}

@media screen and (max-width: 1140px) {
    #primary-menu > .menu-item:not(.home) > .current-location::before {
        display: none;
    }

    #primary-menu > .menu-item:not(.home) > .current-location::after {
        display: none;
    }

    .site-brand {
        width: 120px;
    }

    .menu-toggle {
        display: block;
        text-align: -moz-right;
        text-align: -webkit-right;
        text-align: right;
        color: #ffffff;
        font-size: 24px;

    }

    #primary-menu {
        position: absolute;
        top: 100px;
        display: none;
        width: 100%;
    }

    #primary-menu.active {
        display: block;
        padding-left: 10px;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .main-navigation {
        float: none;
    }


    .main-navigation ul li {
        display: block;
        margin-left: 0;
    }

    .main-navigation ul li a {
        line-height: 35px;
    }

    #primary-menu > .current-menu-item::before {
        display: none;
    }

    #primary-menu > .current-menu-item::after {
        display: none;
    }

    .main-navigation .sub-menu {
        position: relative;
        display: none;
        padding-left: 15px;
        width: 240px;
        margin: 0;
        background-color: rgba(89, 93, 97, 0.6);
    }

}