#page {
    position: relative;
}

.kc_text_block.section__text {
    float: none;
    clear: none;
}

/***** Main banners *****/
.display_none {
    display: none;
}

.main-banner,
.overlay1,
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.overlay1,
.overlay2 {
    display: none;
}

.main-banner.home,
.overlay1.home,
.overlay2.home {
    display: block;
    height: 740px;
}

.ztrz-page-title {
    font-size: 60px;
    color: #ffffff;
    font-family: Roboto, serif;
    font-weight: bold;
    text-transform: uppercase;
}

.main-banner.home,
.main-banner.not-found,
.main-banner.page-404 {
    background-image: url("../img/teplovoz-home2_01.webp");
    z-index: -1;
}

.main-banner.contacts {
    background-image: url("../img/contact-us.webp");
}

.main-banner.vacancies {
    background-image: url("../img/vac.webp");
}

.main-banner.certificates {
    background-image: url("../img/sertif.webp");
}

.main-banner.news,
.main-banner.single-post {
    background-image: url("../img/news_internal.webp");
}

.main-banner.maintenance,
.main-banner.overhaul,
.main-banner.motorization-modernization,
.main-banner.spares,
.main-banner.rti,
.main-banner.aggregates-after-repair,
.main-banner.locomotives-after-repair {
    background-image: url("../img/tec_remont.webp");
}

.main-banner.gallery {
    background-image: url("../img/gallery_01.webp");
}

.white-corner {
    display: none;
}

.white-corner.home {
    position: absolute;
    padding: 0;
    left: 0;
    bottom: -8px;
    display: block;
    margin: 0;
    width: 90%;
}

.white-corner img {
    width: 100%;
    height: 100%;
}

.entry-content {
    margin: 0 auto;
}

.section-title {
    margin: 0;
    color: #18364a;
    font-family: "Roboto - Black", serif;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
}

section {
    padding-top: 35px;
    padding-bottom: 35px;
}
section.about-us-block {
    margin-top: 100px;
}
/*********** Home page ************/
#top-banner-block {
    position: relative;
}

#top-banner-block h1,
#top-banner-block p,
#top-banner-block span
{
    margin: 0;
    color: #ffffff;
    font-family: Roboto, serif;
    text-align: center;
}

#top-banner-block h1 {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1.1em;
    background: linear-gradient(0.25turn, transparent, rgba(0,0,0,.4), transparent);
    padding-top: 30px;
    padding-bottom: 20px;
}

#top-banner-block .services {
    font-family: "Times New Roman PSMT", serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 4px;
}

#top-banner-block .top-banner__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    background: linear-gradient(0.25turn, transparent, rgba(0,0,0,.4), transparent);
    padding-bottom: 30px;
}

.button-wrapper {
    text-align: center;
}

.button-wrapper a {
    padding: 8px 40px;
    border-radius: 25px;
    text-align: center;
    font-family: "Times New Roman PSMT", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.button-wrapper.button-connect {
    margin-top: 50px;
}

.button-wrapper.button-connect a {
    background-color: #355c80;
}

.button-wrapper.button-connect a:hover {
    background-color: #3f6287;
}

.button-wrapper.button-connect.red a {
    background-color: #b81212;
}

.button-wrapper.button-connect.red a:hover {
    background-color: #cb1212;
}

.kc_single_image.train {
    position: absolute;
    bottom: -148px;
    left: 575px;
    width: 90px;
}

.kc_single_image.train img {
    width: 100%;
}

#about-us-section {
    margin-top: 160px;
}

.about-us__description ul {
    list-style-type: none;
}

.above-tittle-image {
    text-align: center;
}

.above-tittle-image img {

}

.kc-title-wrap h1 {
    text-align: center;
    text-transform: uppercase;
}

.kc-title-wrap h2 {
    text-align: center;
}

.page-title-section {
    margin-top: 30px;
}

.subtitle {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Times New Roman PSMT", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.page-title-section .subtitle {
    margin-bottom: 0;
}

.subtitle b {
    font-weight: 400;
}

.subtitle.white {
   color: #ffffff;
}

.subtitle b {
    color: #e5322c;
}

.about-us__four-column {
    margin-top: 30px;
}

.about-us__icon {
    text-align: center;
}

.about-us__title {
    color: #355c80;
    font-family: "Roboto - Black", serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.experience {
    position: relative;
    top: -18px;
}

.can-help {
    position: relative;
    padding-bottom: 0;
}

.can-help .kc-container {
    max-width: 100%;
}

.can-help__overlay.can-help__overlay {
    position: absolute;
    right: 0;
}

.can-help__overlay.can-help__overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 150%;
    width: 111%;
    height: 110%;
}

.can-help__overlay.can-help__overlay img {
    height: 100%;
    width: 100%;
}

.can-help__left-column {
    background-image: url("../img/modernization-bg-left.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.can-help__right-column {
    background-image: url("../img/modernization-bg-right-native.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.can-help__title {
    margin: 60px 0 20px 0;
    padding: 0 25px;
    color: #ffffff;
    font-family: "Roboto - Black", serif;
    font-size: 32px;
    font-weight: 400;
}

.can-help__description p {
    margin: 0 auto;
    width: 80%;
    color: #ffffff;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.button-wrapper.can-help__button {
    margin: 40px 0 40px 0;
}

.button-wrapper.can-help__button a {
    background-color: transparent;
    background-image: radial-gradient(circle, #ffffff 0%, transparent 90%);
    color: #18364a;
}

.button-wrapper.can-help__button.left a:hover {
    border: 1px solid #cb1212;
}

.button-wrapper.can-help__button.right a:hover {
    border: 1px solid #3f6287;
}

.button-wrapper.can-help__button a.red_color {
    color: #b81212
}

.can-help__right-column .can-help__title,
.can-help__right-column .can-help__description,
.can-help__right-column .can-help__button
{
    position: relative;
    z-index: 2;
}

.history {
    position: relative;
    background-image: url("../img/teplovoz-home_02.webp");
    background-repeat: no-repeat;
    background-size: cover;

}

.history .history__date {
    margin: 0;
    color: #18364a;
    font-family: "Times New Roman PS - Bold MT", serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 56px;
    text-transform: uppercase;
}

.history__text p {
    margin: 0;
    margin-bottom: 5px;
}

.kc_single_image.since-image {
    position: absolute;
    top: 124px;
    right: 66px;
    width: 220px;
    height: 236px;
}

.proud {
    position: relative;
    padding: 0;
    background-image: url("../img/proud-train.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.proud .kc_column {
    position: static;
}

.proud .proud__overlay {
    position: absolute;
    top: -2px;
    left: -2px;
    height: calc(100% + 3px);
    width: 60%;
}

.proud .proud__overlay img {
    height: 100%;
    width: 100%;
}

.proud__content {
    max-width: 56%;
}

.proud .proud__title {
    margin-bottom: 0;
    text-align: left;
    color: #ffffff;
    font-family: "Roboto - Black", serif;
    font-size: 42px;
    font-weight: 400;
}

.proud__subtitle {
    margin-bottom: 0;
    text-align: left;
    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 24px;
    font-weight: 700;
}

.proud__subtitle::before {
    display: inline-block;
    margin-right: 5px;
    content: '';
    background-image: url("../img/done.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.proud__text p {
    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 300;
}

.vacancy .vacancy__description {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 645px;
}

.vacancy__description p {
    text-align: center;
}

.vacancies__list {
    margin: 0 auto;
    max-width: 400px;
    list-style-type: none;
}

.vacancies__list li {
    text-align: left;
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
}

.vacancies__list li:before {
    display: inline-block;
    margin-right: 5px;
    content: '';
    background-image: url("../img/done.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.vacancy .vacancies__button {
    margin-top: 30px;
}

.vacancy .vacancies__button a {
    background-color: #e5322c;
}

.main-post-slider {
    margin-top: 20px;
}

.kc-owl-post-carousel.post-slider .owl-item .image {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.kc-owl-post-carousel.post-slider .owl-item .image .caption {
    position: relative;
    margin-top: 10px;
    padding-left: 115px;
    background: none;
    text-align: left;
}

.kc-owl-post-carousel.post-slider .owl-item .image .caption a,
.posts-item .post_title a {
    color: #18364a;
    font-family: Roboto, serif;
    font-size: 31px;
    font-weight: 700;
    text-decoration: none;
    white-space: normal;
    line-height: 1.2em;
}

.post-content {
    position: relative;
}

.kc-owl-post-carousel .owl-item .item.list-item {
    box-shadow: none;
}

.kc-owl-post-carousel.post-slider .owl-item .kc-entry_meta {
    position: absolute;
    top: 376px;
    width: 100px;
    height: 100px;
    background-color: #e5322c;
    text-align: center;
}

.kc-owl-post-carousel.post-slider .owl-item .in-post-content {
    padding-left: 115px;

}

.kc-owl-post-carousel.post-slider .kc-entry_meta p {
    color: #ffffff;
    font-family: Roboto, serif;
    font-weight: 700;
}

.slider-post-date {
    margin: 0 8px;
    font-size: 44px;
    border-bottom: 2px solid #e55f2c;
}

.slider-post-month,
.slider-post-year {
    display: inline;
    margin-right: 5px;
    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 700;
}

.kc-owl-post-carousel.post-slider .owl-item .kc-read-more,
.post_reed-button a {
    padding-left: 110px;
    border: none;
    color: #666c72;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.kc-owl-post-carousel.post-slider .owl-item .kc-read-more::before,
.post_reed-button a::before {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 15px;
    content: '';
    background-image: url("../img/Vector_Smart_Object3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.kc-owl-post-carousel.post-slider .owl-item .kc-read-more:hover,
.post_reed-button a:hover {
    background: none;
    text-decoration: underline;
}


@media screen and (max-width: 1200px) {
    .kc_single_image.train {
        display: none;
    }

    .white-corner.home {
        display: none;
    }

    #about-us-section {
        margin-top: 80px;
    }

    .main-banner.home,
    .overlay1,
    .overlay2 {
        height: 660px;
    }
}

@media screen and (max-width: 1040px) {
    #top-banner-block h1 {
        margin-bottom: 10px;
        font-size: 40px;
    }
}

@media screen and (max-width: 992px) {
    #top-banner-block .top-banner__description {
        font-size: 16px;
    }

    .kc_text_block.section__text {
        float: left;
        clear: both;
    }

    .site-brand a {
        position: relative;
        z-index: 2;
    }

    .main-banner.home,
    .overlay1,
    .overlay2 {
        height: 574px;
    }

    .history__text.near-since p {
        max-width: 100%;
    }

    .kc_single_image.since-image {
        display: none;
    }

    .spares-page .kc_column >.kc-col-container {
        height: 0;
    }

    .main-navigation .menu > li > a {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .ztrz-page-title {
        font-size: 42px;
    }

    .can-help__overlay.can-help__overlay {
        display: none;
    }

    .can-help__left-column .button-wrapper.can-help__button a {
        margin-bottom: 20px;
    }

    .proud {
        background-color: #18364a;
        background-image: none;
    }

    .proud__content {
        max-width: 100%;
    }

    .proud .proud__title,
    .proud__subtitle,
    .proud__text p {
        text-align: center;
    }

    .proud .proud__overlay {
        display: none;
    }

    #top-banner-block .top-banner__description {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 572px) {
    .kc-owl-post-carousel.post-slider .owl-item .image {
        margin: 0;
    }

    .kc-owl-post-carousel.post-slider .owl-item .image .caption {
        padding-left: 0;
    }

    .kc-owl-post-carousel.post-slider .owl-item .in-post-content {
        padding-left: 0;
    }

    .kc-owl-post-carousel.post-slider .owl-item .kc-read-more {
        padding-left: 0;
    }

    .kc-owl-post-carousel.post-slider .owl-item .kc-entry_meta {
        float: none;
        position: static;
        width: auto;
        height: auto;
        margin-bottom: 20px;
        padding: 10px 0;
        background-color: transparent;
        text-align: left;
    }
    .kc-owl-post-carousel.post-slider .owl-item .kc-entry_meta p {
        margin-left: 0;
        color: #aaa8a9;
        font-size: 16px;
    }

    .slider-post-date {
        display: inline;
        border-bottom: none;
    }

    .can-help__title {
        font-size: 20px;
    }

    #gallery-content-section {
        margin-top: 80px;
    }

    .section-title,
    .ztrz-page-title
    {
        font-size: 32px;
    }

    #top-banner-block h1 {
        font-size: 20px;
    }

    .subtitle {
        letter-spacing: 1px;
        font-size: 10px;
    }

    .proud .proud__title {
        font-size: 30px;
    }


    .proud__subtitle {
        font-size: 20px;
    }

    .main-banner.home,
    .main-banner.not-found {
        background-image: url("../img/home_mob.webp");
    }

    .main-banner.contacts {
        background-image: url("../img/contact_mob.webp");
    }

    .main-banner.vacancies {
        background-image: url("../img/vac_mob.webp");
    }

    .main-banner.certificates {
        background-image: url("../img/sertif_mob.webp");
    }

    .main-banner.news,
    .main-banner.single-post {
        background-image: url("../img/news_mob.webp");
    }

    .main-banner.maintenance,
    .main-banner.overhaul,
    .main-banner.motorization-modernization,
    .main-banner.spares,
    .main-banner.rti,
    .main-banner.aggregates-after-repair,
    .main-banner.locomotives-after-repair {
        background-image: url("../img/tech_remont_mob.webp");
    }

    .main-banner.gallery {
        background-image: url("../img/gall_mob.webp");
    }

    .section-title {
        font-size: 26px;
    }

    .ztrz-page-title {
        font-size: 26px;
    }

}

@media screen and (max-width: 360px) {
    .main-banner.home, .overlay1, .overlay2 {
        height: 610px;
    }
}

/************************* Contacts page *********************************/
.contacts .kc-container {
    max-width: 1170px;
}

.contacts-section {
    margin-top: 70px;
}

.contacts-section.section-phones {
    margin-top: 0;
}

.contacts-list {
    margin-top: 40px;
    list-style-type: none;
}

.contacts-list li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.contacts-list .contacts-list__item.last {
    display: block;
    text-align: right;
}

.contacts-list .dots {
    position: relative;
    bottom: 6px;
    margin: 0 3px;
    border-bottom: 1px dotted #666c72;;
    flex-grow: 1;
}

.contacts-list__text {
    float: right;
}

.contacts-form-item {
    margin-top: 30px;
    font-weight: bold;
}

.wpcf7-form {
    position: relative;
    height: 450px;
}

.cf7sr-g-recaptcha {
    position: absolute;
    left: 0;
    bottom: 170px;
}

.contacts-form-left-item {
    float: left;
}

.contacts-form-right-item {
    float: right;
}

.contacts-form-item input,
.contacts-form-item textarea {
    border: none;
    border-bottom: 1px solid #ccc;
}
.contacts-form-item textarea {
    height: 120px;
}


.contacts-form-item input:focus,
.contacts-form-item textarea:focus {
    outline: none;
    border-color: #e5322c;
}

.contacts-form-item input::placeholder,
.contacts-form-item textarea::placeholder {
    color: #ccc;
}

.wpcf7-form .wpcf7-submit {
    position: absolute;
    bottom: 0;
    left: 45%;
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #1b95e0;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.wpcf7-form .wpcf7-submit:focus {
    outline: none;
}


.wpcf7-form .wpcf7-submit:hover {
    background-color: #1da1f2;
}

.wpcf7-response-output {
    position: absolute;
    bottom: -51px;
    margin-left: 0;
}

.wpcf7-not-valid-tip {
    position: absolute;
}

.cf7sr-g-recaptcha-invalid > .wpcf7-not-valid-tip {
    top: 290px;
}

@media screen and (max-width: 992px) {
    .wpcf7-form  {
        height: auto;
    }

    .contacts-form-left-item,
    .contacts-form-right-item {
        float: none;
        display: block;
        width: 100%;
    }

    .contacts-form-item input {
        width: 100%;
    }

    .cf7sr-g-recaptcha,
    .wpcf7-form .wpcf7-submit {
        position: static;
    }

    .wpcf7-not-valid-tip {
        position: static;
    }

    div.wpcf7-response-output {
        position: static;
        margin: 0;
    }

}

@media screen and (max-width: 572px) {
    .main-banner {
        height: 300px;
    }

    .contacts-list {
        margin-top: 40px;
        list-style-type: none;
    }

    .contacts-list li {
        display: block;
    }

    .contacts-list .contacts-list__item.last {
        text-align: left;
    }

    .contacts-list .dots {
        display: none;
    }

    .contacts-list__text {
        display: block;
        float: none;
    }
}

@media screen and (max-width: 480px) {
    .main-banner {
        height: 340px;
    }
}

/********** Vacancies page *************/
.vacancies-section {
    padding-top: 0;
}

.section__text p {
    margin-bottom: 0;
}

.vacancies-section .vacancies-accordion__item {
    margin-top: 15px;
}

.vacancies-section .vacancies-accordion__item .kc_accordion_header a {
    padding: 0;
    color: #18364a;
    font-family: Roboto, serif;
    font-size: 18px;
    font-weight: 700;
}

.vacancies-section .vacancies-accordion__item .kc_accordion_header a:hover {
    text-decoration: underline;
}

.vacancies-section .vacancies-accordion__item .kc_accordion_header a:before {
    position: relative;
    bottom: 3px;
    display: inline-block;
    margin-right: 5px;
    content: '';
    border: solid #3590cc;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.vacancies-section .vacancies-accordion__item.kc-section-active a:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.vacancies-section .button-wrapper {
    margin-top: 10px;
    text-align: left;
}

.vacancies-section .button-connect a {
    font-size: 14px;
    font-weight: 700;
    background-color: #3590cc;
}

.vacancies-section .kc_accordion_header>span.ui-accordion-header-icon {
    display: none;
}
.vacancies-section .kc_accordion_section>.kc_accordion_header {
    border: none;
}

.vacancies-section .kc_accordion_content {
    border: none;
}

/*************** Certificates page ************************/
.certificates-section .item-grid {
    padding: 10px;
}

.certificates-section .item-grid img {
    box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .certificates-section .kc_image_gallery.kc-grid .item-grid {
        width: 100% !important;
        float: none;
    }
}

/*************** News page ************************/
.posts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.posts-item {
    margin-bottom: 50px;
}

.posts-item .post_title {
    margin-bottom: 10px;
}

.post_date {
    color: #aaa8a9;
}

.post-image {
    float: left;
    max-width: 550px;
    margin-right: 30px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.post_content p {
    margin-top: 0;
}

.posts-item .post_date {
    bottom: 35px;
}

.post_reed-button {
    text-align: right;
    padding-left: 0;
}

.post_reed-button a {
    padding-left: 0;
}

.pagination-list {
    list-style-type: none;
    text-align: center;
}


.pagination-item {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #d1d0d0;
}

.pagination-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #a2a1a1;
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.pagination-item.active {
    background-color: #b1b1b1;
}

.pagination-item.active a {
    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .posts-list {
        display: block;
    }

    .posts-item {
        margin: auto;
    }
}

@media screen and (max-width: 572px) {
    .posts-item .image {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .posts-item {
        margin-bottom: 50px;
    }

    .posts-item .post_title {
        padding-left: 0;
    }

    .posts-item .post_date {
        position: static;
        margin-bottom: 10px;
    }

    .post_content {
        position: static;
        padding-left: 0;
    }
}

/************** Maintenance page and similar pages ****************/
.maintenance-section {
    margin-top: 60px;
}

.maintenance-section .kc_single_image.maintenance__image {
    position: relative;
    float: left;
    clear: both;
    display: block;
    margin: 5px 30px 10px 0;
    max-width: 500px;
}

.maintenance-section .section__text {
    display: block;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .overhaul .ztrz-page-title {
        font-size: 42px;
    }
}


@media screen and (max-width: 572px) {
    .maintenance-section {
        margin-top: 20px;
    }

    .overhaul .ztrz-page-title {
        font-size: 30px;
    }

    .main-banner.motorization-modernization {
        height: 300px;
    }
}

/*********** Gallery page **************/
.gallery-section {
    padding: 0 20px 35px 20px;
}

.gallery-section .kc_column {
    padding: 0;
}

.gallery-section .kc_single_image {
    padding: 3px;
}

.gallery-section .kc_single_image img {
    width: 100%;
}

/* 404 */
#top-banner-block-not-found {
    margin-bottom: 140px;
}

#top-banner-block-not-found .title {
    font-size: 64px;
    color: #ffffff;
}

.error-404__page-title {
    text-align: center;
}

.error-404__page-content {
    text-align: center;
}
