.single-news {
    margin-top: 100px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

article.post {
    position: relative;
    clear: both;
}

.single-news .post-thumbnail {
    float: left;
    clear: both;
    margin-right: 30px;
    max-width: 50%;
}

.single-news .post-title {
    margin-top: 20px;
    color: #2d2f31;
    font-family: Roboto, serif;
    font-size: 27px;
    font-weight: 700;
}

.single-news .post_date {
    display: inline-block;
    width: 200px;
    background-color: #e5322c;
}

.single-news .post_date__date {
    margin: 0 0 0 20px;
    display: inline-block;
    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 44px;
    font-weight: 700;
    border: none;
}

.single-news .post_date__month {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 32px;
    font-weight: 700;
}

.single-news .post_date__year {
    display: block;
    margin: 0 20px;
    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 24px;
    font-weight: 400;
    border-top: 2px solid #e55f2c;
}

.return-button {
    margin: 30px auto;
    text-align: center;
    overflow: visible;
}

.return-button a {
    text-decoration: none;
    color: #666c72;
    font-family: "Roboto - Black", serif;
    font-size: 19px;
    font-weight: 700;
}

.return-button a:hover {
    text-decoration: underline;
}

.return-button a::before {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 15px;
    content: '';
    background-image: url("../img/arrow-back.webp");
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

@media screen and (max-width: 992px) {
    .single-news .post-thumbnail {
        float: none;
        max-width: 100%;
        margin-right: 0;
    }

    .single-news .post-title {
        text-align: center;
    }
}